html {
    background: #fcfdf2;
    /*background: url(/img/2.png);/*#DCFEF4;*/
}

@font-face {
    font-family: BILLIEBOB;
    src: url(/fonts/BILLIEBOB.ttf);
}

@font-face {
    font-family: aleksandracregular;
    src: url(/fonts/aleksandracregular.ttf);
}

li{
    list-style-type: none;
}

.hide-layout {
  display: none;
  background: #000;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.video {
    height: 480px;
    width: 640px;
}

.pop-up__camera {
    display: none;
    position: fixed;
    margin-left: 300px;
    margin-right: 300px;
    top: 5%;
    width: 640px;
    height: 530px;
    background-color: black;
    box-shadow: 0px 0px 10px #000;
    z-index: 998;
}

.pop-up__camera__record {
    display: none;
    height: 480px;
    border-bottom: 2px solid black;
}

.pop-up__camera__buttons {
    display: none;
    top: 0%;
    height: 40px;
    margin-left: 15em;
}

.pop-up__camera__btn {
    display: inline-block;
    position: relative;
    width: 4em;
    height: 2em;
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em; 
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    background-color: white;
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px rgba(255,255,255,.2),
        0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
    font-family: aleksandracregular;
    font-size: 1em;
    text-align: center;
}

.pop-up__camera__btn:active{
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
    box-shadow:
    0 0 3px rgba(0,0,0,.5) inset,
    0 1px 1px 1px rgba(255,255,255,.4),
    0 -1px 1px 1px rgba(0,0,0,.1);
}

.right-speaker {
    display: block;
    width: 100px;
    background: "../img/right-speaker.png";
}

.content__wrapper {
    padding-top: 5%;
    margin: auto auto;
    width: 40em;
    display: block;
}

.content__wrapper__logo {
    padding-top: 2%;
    background-color: rgb(249, 246, 192);
    border-width: 0.1em;
    border-color: rgb(126, 107, 93);
    border-style: solid;
    border-radius: 1em;
    box-shadow: -5px 4px 65px 0px rgba(0,0,0,0.31);
    font-family: BILLIEBOB;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
}

.content__wrapper__logo__music {
    color: #9F3ED5;
}

.content__wrapper__logo__quiz {
    color: #9FEE00;
}

.content__wrapper__game-menu {
    padding-top: 10%;
    width: 30em;
    margin: auto auto;
}

.content__wrapper__game-menu__button {
    border: 1px solid black;
    margin-bottom: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
    left: 0px;
    top: 0px;
    position: inherit;
    width: 100%;
    height: auto;
    font-size: 3.25em;
    display: block;
    font-family: aleksandracregular;
    color: rgb(0, 0, 0);
    padding-top: 1%;
    text-align: center;
    text-decoration: none;
}

.content__wrapper__game-menu__button:hover, .song__name:hover {
    background-color: #7df185;
}

.content__wrapper__game-menu__button:active, .song__name:active {
    box-shadow:
    0 0 3px rgba(0,0,0,.5) inset,
    0 1px 1px 1px rgba(255,255,255,.4),
    0 -1px 1px 1px rgba(0,0,0,.1);
}

.wrapper__sign-form {
    width: 30em;
    margin: 10% auto;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
}

.wrapper__sign-form__header {
    font-family: aleksandracregular;
    text-align: center;
    display: block;
    padding-top: 0.5em;
    font-size: 3.5em;
    color: black;
}

.sign-form-error {
    height: 2em;
    margin: 0.2em auto;
    width: 75%;
    text-align: center;
    font-family: aleksandracregular;
    font-size: 1em;
    color: red;
    display: block;
    
}

.sign-form__login, .sign-form__email, .sign-form__password, .sign-form__submit-password{
    display: block;
    margin: 1% auto;
    height: 1.5em;
    width: 75%;
    border-radius: 0.1em;
    border: rgba(0,0,0, 0.3) 0.05em solid;
    font-family: aleksandracregular;
    font-size: 1.5em;
    text-align: center;
}

.button {
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px rgba(255,255,255,.2),
        0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
    font-family: aleksandracregular;
    font-size: 1.5em;
    text-align: center;
}

.back-form {
    margin-left: 20%;
    background-color: #dcdcdc;
    text-align: center;
}

.button-photo {
    display: block;
    position: relative;
    width: 9.5em;
    height: 2em;
    line-height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 16em; 
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0,0,0);
    outline: none;
    border: 1px solid rgba(0,0,0,.4);
    border-top-color: rgba(0,0,0,.3);
    border-radius: 2px;
    box-shadow:
        0 0 3px rgba(0,0,0,0) inset,
        0 1px 1px 1px rgba(255,255,255,.2),
        0 -1px 1px 1px rgba(0,0,0,0);
    transition: .2s ease-in-out;
    font-family: aleksandracregular;
    font-size: 1em;
    text-align: center;
}

.form__photo__widget {
    margin-top: 3em;
}

.upload-pic {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}

canvas {
    display: none;

}

#photo {
    width: 8em;
    min-height: 8em;
    margin-left: 5em;
    margin-top: -6.7em;
    display: block;
   /* margin: 10% auto;*/
    background: white;
}


.back-scoreboard {
    margin: auto;
    margin-top: 0.5em;
    display: block;
    background-color: #dcdcdc;
    text-align: center;
}

.submit-form {
    margin-left: 7%;
    background-color: #9FEE00;
    
}

.button:hover:not(:active) {
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(0,255,255,.5),
   0 -1px 1px 1px rgba(0,255,255,.5);
}
.button:active, .button-photo:active {
  background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
  box-shadow:
   0 0 3px rgba(0,0,0,.5) inset,
   0 1px 1px 1px rgba(255,255,255,.4),
   0 -1px 1px 1px rgba(0,0,0,.1);
}

.wrapper__scoreboard {
    width: 40em;
    margin: auto auto;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
    font-family: aleksandracregular;
    padding-bottom: 0.5em; 
}

.wrapper__scoreboard__header {
    display: block;
    margin: auto auto;
    text-align: center;
    font-size: 3.25em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}

.scoreboard__item {
    display: block;
    margin: auto auto;
    text-align: center;
    font-size: 2em;
    padding-top: 0.3em;
}

.container__game {
    width: 50em;
    height: 30em;
    margin: 7% auto;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
}

.song__name {
    display: block;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
    left: 0px;
    top: 0px;
    position: inherit;
    width: 70%;
    height: auto;
    font-size: 3.25em;
    display: block;
    font-family: aleksandracregular;
    color: rgb(0, 0, 0);
    padding-top: 1%;
    text-align: center;
    text-decoration: none;
}

.player__info, .opponent__player__info {
    display: inline-block;
    margin-left: 4em;
    height: 3em;
    width: 20em;
    border: 2px solid black;
}

.opponent__player__info {
        display: inline-block;
    height: 3em;
    width: 19em;
    border: 2px solid black;
}

.game__avatar {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto auto;
}















