@font-face {
  font-family: BILLIEBOB;
  src: url(../../fonts/BILLIEBOB.ttf);
}
@font-face {
  font-family: aleksandracregular;
  src: url(../../fonts/aleksandracregular.ttf);
}
$BILLIEBOB: BILLIEBOB;
$url_BILLIEBOB: url(../fonts/BILLIEBOB.ttf);
$aleksandracregular: aleksandracregular;
$url_aleksandracregular: url(../fonts/aleksandracregular.ttf);

html {
  background: #fcfdf2;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111111), color-stop(50%, #222222), color-stop(100%, #111111));
  background-image: -moz-linear-gradient(top, #111111 0%, #222222 50%, #111111 100%);
  background-image: -webkit-linear-gradient(top, #111111 0%, #222222 50%, #111111 100%);
  background-image: linear-gradient(to bottom, #111111 0%, #222222 50%, #111111 100%);
}

li {
  list-style-type: none;
}

@import "forms/forms";
@import "game/game";
@import "game-menu/game-menu";
@import "game-menu-btns/game-menu-btns";
@import "logo/logo";
@import "menu-user-info/menu-user-info";
@import "score/score";
@import "webcam/webcam";