$wrapper-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);

.back-scoreboard {
    margin: auto;
    margin-top: 0.5em;
    display: block;
    background-color: #dcdcdc;
    text-align: center;
}

.wrapper__scoreboard {
    width: 40em;
    margin: auto auto;
    margin-top: -2em;
    background-color: white;
    box-shadow: $wrapper-box-shadow;
    font-family: aleksandracregular;
    padding-bottom: 0.5em; 
}

.wrapper__scoreboard__header {
    display: block;
    margin: auto auto;
    text-align: center;
    font-size: 3.25em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}

.scoreboard__item {
    display: block;
    margin: auto auto;
    text-align: center;
    font-size: 2em;
    padding-top: 0.3em;
}

.back-scoreboard-button {
  position: relative;
  z-index: 1;
  display: block;
  width: 120px;
  height: 50px;
  margin: auto;
  background-color: #A8A5A5;
  font-family: aleksandracregular;
  font-size: 1.5em;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  overflow: hidden;
  padding-top: 1%;
  margin-bottom: 2%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 10px;
    height: 10px;
    margin: 20px auto 0;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
  }
  
  &:hover {
    &::before {
      transform: scale(30);
      transition: .5s;
      animation: mymove .5s;
    }
  }
}

@keyframes mymove {
  0%   {opacity: .1;}
  50%  {opacity: .5;}
  100% {opacity: 0;}
}